{{outlet}}
<div class="container">
<div class="jumbo access-denied">
	<div class="left tomster"></div>
	<h1>403</h1>
	<h3>Access denied</h3>
	<br>
	<h3>You do not have permission to access this page. Please login to access this page</h3>
	<div>
		{{#link-to 'rentals' class="button"}}Home{{/link-to}}
		{{#link-to 'login' class="button"}}
	    Login
	  {{/link-to}}
	</div>
</div>
</div>