{{outlet}}
<div class="container">
<div class="jumbo access-denied">
	<div class="left tomster"></div>
	<h1>404</h1>
	<h3 class="center-align">Oops! something weird happend. We couldn't find the page you are looking for, please check the url and try again.</h3>
	<br>
	<div>
		{{#link-to 'rentals' class="button"}}
			Home
		{{/link-to}}
	</div>
</div>
</div>
